# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

### Step 4. How many products cost more than $10.00?

In [37]:

chipo.item_name[chipo.item_price.str[1:].astype('float') > 10].unique().size

31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [75]:
chipo[['item_name', 'item_price']]

# chipo.groupby(['item_name', 'item_price']).item_price.agg(['min'])
chipo[chipo.item_name == "Veggie Soft Tacos"]

,order_id,quantity,item_name,choice_description,item_price
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$16.98

### Step 6. Sort by the name of the item

In [89]:
chipo.item_name.sort_values()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

### Step 7. What was the quantity of the most expensive item ordered?

In [133]:
exp_index = (chipo.item_price.str.replace('$', '').astype(float) / chipo.quantity).idxmax()
alt_exp = (chipo.item_price.str.replace('$', '').astype(float)).idxmax()

#This is the most expensive item when the quantity is disregarded
chipo.loc[alt_exp]


#This is the most expensive single item when quantity is factored out
chipo.loc[exp_index]

/var/folders/r6/g880v64s6vj401drwcc37nf00000gn/T/ipykernel_26350/3448695853.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  exp_index = (chipo.item_price.str.replace('$', '').astype(float) / chipo.quantity).idxmax()
/var/folders/r6/g880v64s6vj401drwcc37nf00000gn/T/ipykernel_26350/3448695853.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  alt_exp = (chipo.item_price.str.replace('$', '').astype(float)).idxmax()

order_id                                                            123
quantity                                                              2
item_name                                              Steak Salad Bowl
choice_description    [Tomatillo Red Chili Salsa, [Black Beans, Chee...
item_price                                                      $23.78
Name: 281, dtype: object

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [137]:
chipo.item_name[chipo.item_name == 'Veggie Salad Bowl'].count()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [148]:
chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)].count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
dtype: int64